[job_builder]
ignore_cache=True
keep_descriptions=False
include_path=.:scripts:~/git/
recursive=False
exclude=.*:manual:./development
allow_duplicates=False

[jenkins]
user=jenkins
password=jenkins123
url=https://vm012.bn.detemobil.de/jenkins4servers

[hipchat]
authtoken=dummy
